
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>除法</title>
</head>
<body>
<div align="center" style="margin-top: 40px;">
    <form name="form1"   method="POST">
        <input type="text" placeholder="divide" name="adder1" value="{{ var1  }}">&divide
        <input type="text" placeholder="divide-2" name="adder2" value="{{ var2  }}">=
        <input type="text" readonly="readonly" placeholder="result" name="result" value="{{ result }}">
        <input type="submit" value="计算" οnclick="">
    </form>
</div>
{% if message %}
    <p style="color:red">{{ message }}</p>
    {% endif %}
</body>
