<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <table class="table table-bordered">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>age</th>
        <th>sex</th>

    </tr>
        {% for i in u %}
            <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <td>{{ i[2] }}</td>
                <td>{{ i[3] }}</td>

            </tr>
        {% endfor %}
    </table>

</body>
</html>